body{
    background-color: #000!important;
    
}
h1{
    color: #fff!important;
    text-align: center;
    padding: 5%;
}
h2{
    color: #aaa!important;
}
h3{
    color: #aaa!important;
}
p{
     color:#fff;
}
hr{
    border-color: #28a745;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 100%;
  }
.dp-image{
    width: 90%;
    margin-right: 100%;  
}  
.table-1{  
    padding-left: 10%;
}
#profile{
    background-image: url(/images/BGIMAGE.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-left: 10%;
    padding-top: 10%;  
}  
.myname
{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0;
}
#my-intro{   
    padding: 5%;
    text-align: center;
}
#skills{
    background-image: url(/images/BGIMAGE.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #000;
    padding: 3%;    
}
.photoa{
    width:100px;
    height:100px;   
    float: right;
    margin-right: 30px;
    margin-top:50px;
  }    
#certificates{
    text-align: center;
    padding: 2%;   
}
#education{
    background-image: url(/images/BGIMAGE.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 5%;
}
.education2{
    margin-top: 5%;
}
.btn1{
    margin-top: 5%;
}
#contact{   
    padding: 2%;
    word-spacing: 10px;
    text-align: center; 
    
}
.social{
    margin:2%
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .container {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }
  
  .text span {
    font-size: 40px;
    padding: 0 10px;
    text-transform: uppercase;
    color: #fff;
    animation: zoomup 2s linear infinite;
    animation-delay: calc(200ms * var(--i));
  }
  
  @keyframes zoomup {
    0%,
    100% {
      color: #28a745;
      filter: blur(1px);
      text-shadow: 0 0 10px #28a745, 0 0 20px #28a745, 0 0 30px #28a745,
        0 0 40px #28a745, 0 0 60px #28a745, 0 0 80px #28a745, 0 0 100px #28a745,
        0 0 120px #28a745;
    }
  
    5%,
    95% {
      filter: blur(0);
      color: #fff;
      text-shadow: none;
    }
  }

 