body{
    background-color: #000!important;
    
}
h1{
    color: #fff!important;
    text-align: center;
    padding: 5%;
}
h2{
    color: #aaa!important;
}
h3{
    color: #aaa!important;
}
p{
    text-align: left;
     color:#fff;
}

  /*navbar*/
  #navbar {
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
  }
  
  .nav-link:hover {
    background-color: #6ab04c;
    color: #fff;
    border-radius: 4px;
  }
  .navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  hr {
    border-color: #00FF00;
    border-style: dotted;
    border-width: 2px;
  }
  



/* Profile Section Styles */
#profile {
    
    padding: 50px 0;
    text-align: center;
  }
  
  .table-1 {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }
  
  .dp-image {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 3px #00FF00, 0 0 20px #00FF00
  }
  
  .td-1 {
    text-align: left;
    padding-left: 50px;
  }
  
  .td-1 h2 {
    font-size: 36px;
    
  }
  
  .td-1 p {
    
    font-size: 20px;
    font-weight: bold;
  }
  
  .btn {
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }
  
  .btn:hover {
    transform: translateY(-3px);
  }
  
  .btn-outline-success {
    border: 2px solid #6ab04c;
    color: #6ab04c;
    background-color: #fff;
  }
  
  .btn-outline-success:hover {
    color: #fff;
    background-color: #6ab04c;
  }
  
  .btn-success {
    background-color: #6ab04c;
    color: #fff;
    border: none;
  }
  
  .btn-success:hover {
    background-color: #5a984a;
  } 

/*my name section*/
.myname
{
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0;
}
#my-intro{   
    padding: 5%;
    text-align: center;
}
.intro-sentence{
   margin-left: 10%;
   margin-right: 10%;
}
/*skills section*/
#skills{
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
    margin-left: 10%;
    margin-right: 15%;
   
}
#skills p{
    text-align: left;
    font-size: 1.5rem;
}
.photoa{
    width:100px;
    height:100px;   
    float: left;
    margin-right: 30px;
    margin-top:50px;
  }
   /*work*/
  
   .table-2 {
    margin: 0 auto;
    display: inline-block;
   
  }
.project-2{
    text-align: center;
}
.work_img{
    border-radius: 50px;
}
  
  
  /*certificate section*/
  #certificates{
    text-align: center;
    
      
}


/*education*/
#education{
    margin-top: 5%;
   margin-left: 10%;
   margin-right: 15%;
   text-align: left;
    font-size: 1.5rem;
}

 

.education2{
    margin-top: 5%;
}
.btn1{
    margin-top: 5%;
}
#contact{   
    padding: 2%;
    word-spacing: 10px;
    text-align: center;     
}
.social{
    margin:2%
}
.social a {

    color: #00FF00;
    display: inline-flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    align-items: center;
    background: transparent;
    border: 2px solid #00FF00;
    border-radius: 50%;
    text-decoration: none;
  }
.social a:hover{
  color: #000;
  background-color: #00FF00;

}
.footer{
  padding:0 40%;
}
#form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .container {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }
  
  .text span {
    font-size: 40px;
    padding: 0 10px;
    text-transform: uppercase;
    color: #fff;
    animation: zoomup 2s linear infinite;
    animation-delay: calc(200ms * var(--i));
  }
  
  @keyframes zoomup {
    0%,
    100% {
      color: #28a745;
      filter: blur(1px);
      text-shadow: 0 0 10px #28a745, 0 0 20px #28a745, 0 0 30px #28a745,
        0 0 40px #28a745, 0 0 60px #28a745, 0 0 80px #28a745, 0 0 100px #28a745,
        0 0 120px #28a745;
    }
  
    5%,
    95% {
      filter: blur(0);
      color: #fff;
      text-shadow: none;
    }
  }


  

  /*loading*/
  #preloader{
    background-color: #000 url("/images/green-loader.gif") no-repeat center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  
