body{
    background-color: #66fcf1;
    margin: 0;
}
.edu{
  color: #000;
}

h1{
  font-family:ubuntu;
  
}
h2{
    
    font-family:ubuntu;
    font-weight: bolder;
    color: #000;
    text-shadow: 5px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    
}
h3{
  font-family: 'Montserrat';
  font-weight: bold;
  color:dimgrey;
  word-spacing: 5px;

}
p{
  font-family: Montserrat ;
    color: black;
    font-weight:lighter;
    word-spacing: 10px;
   
}
li{
    font-family:ubuntu;
}

.dp-image{
    width: 90%;
    margin-right: 100%;
    
}  
 


.table-1{
  padding-left: 10%;
}


#navbar{
    background-color: #66fcf1;
    font-family:bungee;
    font-size: small;
    text-shadow: 5px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    
    


}
.nav-text{
  color: #000;
  text-decoration: solid;
  float: left;
  
 

}
hr{
  border-color: #11999E;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 50%;
}
#profile{
    background-color: #ffff;
    margin: 5%;
    padding: 3%;
}
hr{
  border-color: #fff;
  border-style: none;
  border-top-style: dotted;
  
  width: 30%;
}
.intro{
  margin-left: 10px;
}
#skills{
    background-color: #66fcf1;
    margin: 5%;
    
}
.photoa{
  width:100px;
  height:100px;
  
  float: left;
  margin-right: 30px;
  margin-top:50px;
}
#education{
  background-color: #fff;
  padding: 50px;
}
.edu-photoa{
width:100px;
height:100px;

float: left;
margin-right: 30px;
margin-top:50px;
}

#contact{
    padding: 5%;
    background-color: #fff;
    text-align: center;
    margin: 0;
    
}
#certificates{
    background-color: #66fcf1;
    padding: 10%;
    
}
#form{
  margin: 5%;
}
.text-1{
  padding: 5%;
}
.btn{
  text-align:center;
}
.certificates{
  text-align: center;
  margin-bottom: 5%;
}
.social-media-icons-white{
    color: red;
}






.container {
  width: 100%;
 
  
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  
  border-radius: 9px;
  padding: 30px;
  
}
nav ul li {
  display: inline-block;
  list-style: none;
  font-size: 1.5rem;
  padding: 0 5px;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}
nav ul li:after {
  content: "";
  width: 0;
  height: 3px;
  background: #ffff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}


.social-icons-insta{
    margin:10px;
  }
  .social-icons-insta:hover{
    color:#cd486b;
  }
  .social-icons-twit{
    margin:10px;
  }
  .social-icons-twit:hover{
    color:#00acee;
  }
  .social-icons-facb{
    margin:10px;
  }
  .social-icons-facb:hover{
    color: #3b5998;
  }
  .social-icons-linkd{
    margin:10px;
  }
  .social-icons-linkd:hover{
    color: #0a66c2;
  }
  .social-icons-yout{
    margin:10px;
  }
  .social-icons-yout:hover{
    color:#ff0000
  }
  .social-icons-reddi{
    margin:10px;
  }
  .social-icons-reddi:hover{
    color:#ff4500 ;
  }
  .social-icons-gith{
    margin:10px;
  }
  .social-icons-gith:hover{
    color: #4078c0;
  }



  .btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    text-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }

  .btn1 {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    text-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 5%;
    margin-left: 35%;
    margin-top: 5%;
  }
  
  .btn1:hover {
    background: #3cb0fd;
    text-decoration: none;
  }